@tailwind base;
@layer base {
  :root {
    --background: 220 25% 98%;
    --foreground: 220 20% 27.5%;
    --border: 220 10% 90%;
    --card: 0 0% 100%;
    --muted: 230 10% 60%;
    --accent: 220 50% 55%;
  }

  .dark {
    --background: 230 13% 10%;
    --foreground: 230 20% 95%;
    --border: 230 10% 22%;
    --card: 230 12% 14%;
    --muted: 230 8% 48%;
    --accent: 230 60% 60%;
  }
}

@tailwind components;
@tailwind utilities;

* {
  @apply border-border antialiased;
}
