@tailwind base;
@layer base {
    :root {
        --background: 230 50% 97%;
        --foreground: 230 50% 15%;
    }
    .dark {
        --background: 240 10% 10%;
        --foreground: 240 30% 95%;
    }
}
@tailwind components;
@tailwind utilities;